# Lists

Lists can be thought of the most general version of a *sequence* in Python. Unlike strings, they are mutable, meaning the elements inside a list can be changed!

    
    1.) Creating lists
    2.) Indexing and Slicing Lists
    3.) Basic List Methods
    
 

Lists are constructed with brackets [] and commas separating every element in the list.

In [1]:
# Assign a list to an variable named my_list
nish = [1,2,3,6,8,9, 'g', "j",78.90, "copenhagen"]
nish

[1, 2, 3, 6, 8, 9, 'g', 'j', 78.9, 'copenhagen']

In [2]:
type(nish)

list

We just created a list of integers, but lists can actually hold different object types. For example:

In [3]:
mylist = ['A string',23,100.6,'o',9]
mylist

['A string', 23, 100.6, 'o', 9]

Just like strings, the len() function will tell you how many items are in the sequence of the list.

In [4]:
len(mylist)

5

### Indexing and Slicing
Indexing and slicing work just like in strings. Let's make a new list to remind ourselves of how this works:

In [4]:
my_list = ['one','two',5,4,5]
my_list

['one', 'two', 5, 4, 5]

In [5]:
# Grab element at index 0
my_list[4]

5

In [7]:
# Grab index 1 and everything past it
my_list[3:]

[4, 5]

In [8]:
# Grab everything UP TO index 3
my_list[:]

['one', 'two', 5, 4, 5]

We can also use + to concatenate lists, just like we did for strings.

In [9]:
my_list = my_list + ['new item']

In [10]:
#my_list = my_list + ['new item']

In [11]:
my_list[1:6]

['two', 5, 4, 5, 'new item']

In [12]:
my_list[1:4]

['two', 5, 4]

Note: This doesn't actually change the original list!

In [13]:
my_list

['one', 'two', 5, 4, 5, 'new item']

You would have to reassign the list to make the change permanent.

In [14]:
# Reassign
my_list = my_list + ['add new item permanently']

In [15]:
my_list

['one', 'two', 5, 4, 5, 'new item', 'add new item permanently']

We can also use the * for a duplication method similar to strings:

In [16]:
# Make the list double
my_list * 3

['one',
 'two',
 5,
 4,
 5,
 'new item',
 'add new item permanently',
 'one',
 'two',
 5,
 4,
 5,
 'new item',
 'add new item permanently',
 'one',
 'two',
 5,
 4,
 5,
 'new item',
 'add new item permanently']

In [17]:
# Again doubling not permanent
my_list

['one', 'two', 5, 4, 5, 'new item', 'add new item permanently']

In [18]:
# Create a new list
list1 = [1,2,3,6,7]
list1

[1, 2, 3, 6, 7]

Use the **append** method to permanently add an item to the end of a list:

In [19]:
# Append
list1.append("and again")

In [20]:
list1

[1, 2, 3, 6, 7, 'and again']

In [21]:
# Show
list1

[1, 2, 3, 6, 7, 'and again']

Use **pop** to "pop off" an item from the list. By default pop takes off the last index, but you can also specify which index to pop off. Let's see an example:

In [22]:
list1.pop(2)

3

In [36]:
# Show
list1

[1, 2, 6, 'and again']

In [24]:
# Assign the popped element, remember default popped index is -1
popped_item = list1.pop(3)

In [25]:
popped_item

7

In [26]:
# Show remaining list
list1

[1, 2, 6, 'and again']

It should also be noted that lists indexing will return an error if there is no element at that index. For example:

In [27]:
list1[0:2]

[1, 2]

We can use the **sort** method and the **reverse** methods to also effect your lists:

In [28]:
new_list1 = [1,2,3,4,5]
new_list1

[1, 2, 3, 4, 5]

In [29]:
#Show
new_list1

[1, 2, 3, 4, 5]

In [30]:
# Use reverse to reverse order (this is permanent!)
new_list1.reverse()
new_list1

[5, 4, 3, 2, 1]

In [31]:
new_list1

[5, 4, 3, 2, 1]

In [32]:
# Use sort to sort the list (in this case alphabetical order, but for numbers it will go ascending)
new_list1.sort()

In [33]:
new_list1

[1, 2, 3, 4, 5]

In [34]:
new_list1.reverse()

In [35]:
new_list1

[5, 4, 3, 2, 1]

# task testing

In [37]:
my_list = ["table",'board',"fan","chair","led","ac"]
my_list

['table', 'board', 'fan', 'chair', 'led', 'ac']

In [47]:
my_list[2:5:2]

['fan', 'led']

In [97]:
my_list1 = my_list + ['laptop']
my_list1

['table', 'board', 'fan', 'chair', 'led', 'ac', 'laptop']

In [69]:
my_list1[2:7:4]

['fan', 'laptop']

In [95]:
my_list1.reverse()

In [98]:
my_list1

['table', 'board', 'fan', 'chair', 'led', 'ac', 'laptop']

In [57]:
len(my_list1)

7

In [59]:
my_list2 = my_list1 + ['bottle']
my_list2

['laptop', 'ac', 'led', 'chair', 'fan', 'board', 'table', 'bottle']

In [60]:
my_list2

['laptop', 'ac', 'led', 'chair', 'fan', 'board', 'table', 'bottle']

In [87]:
my_list1.append('bottle')

In [91]:
my_list1

['table', 'board', 'fan', 'chair', 'led', 'ac', 'laptop']

In [92]:
my_list1.pop(3)

'chair'

In [103]:
my_list1

['table', 'board', 'fan', 'chair', 'led', 'ac', 'laptop']

In [104]:
my_list1.index('fan')

2

In [132]:
list = my_list1*2
list

['table',
 'board',
 'fan',
 'chair',
 'led',
 'ac',
 'laptop',
 'table',
 'board',
 'fan',
 'chair',
 'led',
 'ac',
 'laptop']

In [21]:
my = list////2
my

SyntaxError: invalid syntax (<ipython-input-21-3e4d769775e0>, line 1)

In [139]:
list = list[0:7]

In [140]:
list

['table', 'board', 'fan', 'chair', 'led', 'ac', 'laptop']

In [142]:
list[-4:-1]

['chair', 'led', 'ac']

In [5]:
class_my = ['vaibhav','subod','uday','simon','siraj']
class_my

['vaibhav', 'subod', 'uday', 'simon', 'siraj']

In [14]:
class_my.index('vaibhav')

0

In [1]:
name = ['vaibhav','ajay','abishek','dexlab']
name

['vaibhav', 'ajay', 'abishek', 'dexlab']

In [9]:
name.index('vaibhav'),name[0]

(0, 'vaibhav')

# Questions: home work

In [1]:
football_students = ['rahul','rohit','john','simon','twinkle','komal','milli']
vollyball_students = ['','gaurav','jack','abishek','rahul']
Ncc = ['','rohit','komal','jack','abishek','mohan','simmi','deepika','suraj','manju','tira']

total_students = football_students + vollyball_students + Ncc
total_students

AttributeError: 'list' object has no attribute 'set'

# how do we stop repetition : we use (sets function).

In [5]:
class_10 = ['rashid','deepak','mohit','shivam','sumit','gaurav']
class_12 = ['vaibhav','abishek','deepika','neemal','uday','milli','monika']
class_10,class_12

(['rashid', 'deepak', 'mohit', 'shivam', 'sumit', 'gaurav'],
 ['vaibhav', 'abishek', 'deepika', 'neemal', 'uday', 'milli', 'monika'])

# # first select some students from both classes.                                                              Create a new list of selecting students .

In [7]:
selected = [class_10[0],class_10[5],class_12[4],class_12[6],class_12[2],class_10[4]]
selected

['rashid', 'gaurav', 'uday', 'monika', 'deepika', 'sumit']

In [8]:
selected.append('suraj')

In [9]:
selected

['rashid', 'gaurav', 'uday', 'monika', 'deepika', 'sumit', 'suraj']

In [10]:
selected.pop(6)

'suraj'

In [11]:
selected

['rashid', 'gaurav', 'uday', 'monika', 'deepika', 'sumit']

In [20]:
(('index value of selected[0] is'),selected.index('rashid'))

('index value of selected[0] is', 0)

# How can we replace  an item to another.

In [37]:
my_list = [1,2,3,4,5,6]
my_list

[1, 2, 3, 4, 5, 6]

In [38]:
my_list[1] = 7
my_list

[1, 7, 3, 4, 5, 6]